@charset "utf-8";
/* CSS Document */
body {
	background-repeat: repeat;
	background-color: #FEFAEC;
	color: #FFF;
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
}

h2 {
	font-size: 50px;
	text-align: center;
	color: black;
}

p {
	font-size: 40px;
	text-align: center;
	color: #625772;
}

.hidden { 
	display: none 
}

#game-boards { 
	width: 100%; 
	text-align: center; 
}

.puzzle-pieces {
	margin-top: 20px;
	height: 400px;
	display: inline-block;
	border: medium solid lightblue;
	background-color: white;
	color: inherit;
	overflow: hidden;
	width: 200px; 
	margin-right: 20px;
}

.MainImage {
	margin-top: 10px;
	display: inline-block;
}

.puzzle-board { 
	width: 200px; 
	margin-top: 40px;
	height: 400px;
	display: inline-block;
	border: medium solid lightblue;
	background-color: white;
	color: inherit;
	overflow: hidden;
	margin-left: 18px;
}

.puzzle-image {
	width: 30%;
	padding: 8px;
	cursor: pointer;
	margin-bottom: -5px;
}

.puzzle-pieces img:nth-child(odd) { 
	margin-left: auto 
}

/* arrange the puzzle pieces on the board */
.drop-zone img {
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: auto;
}

.br img, .bl img, .tr img, .tl img { top: 5px; left: 3px;}


/* set up drop zones */
.drop-zone {
	width: 34%;
	height: 18%;
	border: thin dashed black;
	float: left;
	position: relative;
	margin-left: 20px;
	margin-top: 5px;
}

/* end board styles */


header {
	position: relative;
	top: 20px;
	width: 600px;
	margin: 0px auto;
	text-align: center;
}

header h2 {
	font-size: 3em;
  letter-spacing: 3px;
	margin: 10px 0
}

footer {
	position: relative;
	width: 600px;
	margin: 65px auto 0;
	text-align: center;
}

#FooterNav {
	position: center;
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 20px;
	text-align: center;
}

#FooterNav li {
	display: inline;
	padding: 5%;
}

#FooterNav li a {
	text-decoration: none; /* remove underline */
	color: lightblue;
}

#FooterNav li a:hover {
	color: #EF5F43;
}

#buttonHolder { margin: 0px auto; text-align: center; }

#buttonHolder img {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	border: thin solid #333;
	cursor: pointer;
}

#buttonHolder img:hover { opacity: .5; }
